---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

:root {
  --padding: 10px;
}

body {
  font-family: "Roboto", sans-serif;
}

.site-header > .wrapper {
  display: flex;
  justify-content: center;
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__timeline {
    padding: var(--padding);
  }
}

.home-card {
  display: flex;
  width: 100%;
  padding: var(--padding);
}

.home-content {
  padding: var(--padding);
  text-align: justify;
}

.home-img {
  height: 100%;
  width: 20%;
  border-radius: 50%;
  padding: var(--padding);
}

.social-media-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.social-media-list > div {
  padding: 5px;
}

.social-media-list > div > a {
  display: flex;
  justify-content: center;
  width: 100%;
}

.social-media-list > div > a > span {
  display: none;
}

@include media-query($on-palm) {
  .page-content {
    padding-top: 0px;
  }

  .home-card {
    flex-direction: column;
  }

  .home-img {
    height: 100%;
    width: 90%;
    border-radius: 50%;
    padding: var(--padding);
  }

  .social-media-list > div > a {
    align-items: center;
    flex-direction: column;
  }
  .site-footer {
    padding: 5px 0px;
  }
}
