---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

:root {
  --padding: 10px;
}

body {
  font-family: "Roboto", sans-serif;
}

.site-header > .wrapper {
  display: flex;
  justify-content: center;
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__timeline {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    &__year {
      display: flex;
      //   padding-bottom: var(--padding);
      //   margin-bottom: var(--padding);
      &__title {
        font-weight: bold;
        padding: var(--padding);
        border-right: 2px solid black;
        min-width: 100px;
      }
      &__ul {
        padding: var(--padding) 0px;
        list-style-image: url("/assets/dot.png");
        position: relative;
        right: 19px;
      }
    }
  }

  &__card {
    display: flex;
    padding: var(--padding);

    &__img {
      height: 100%;
      width: 20%;
      border-radius: 50%;
      padding: var(--padding);
    }

    &__content {
      padding: var(--padding);
      text-align: justify;
    }
  }
}

#hello-friend {
  padding: var(--padding) 0 0 0;
  margin: 0px;
}

.social-media-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.social-media-list > div {
  padding: 5px;
}

.social-media-list > div > a {
  display: flex;
  justify-content: center;
  width: 100%;
}

.social-media-list > div > a > span {
  display: none;
}

@include media-query($on-palm) {
  .home {
    &__card {
      flex-direction: column;
      padding: var(--padding) 0px 0px 0px;
      align-items: center;
      &__img {
        width: 70%;
        border-radius: 50%;
        margin: 0px;
        padding-bottom: var(--padding);
      }
    }
  }
  .page-content {
    padding-top: 0px;
  }

  .social-media-list > div > a {
    align-items: center;
    flex-direction: column;
  }
  .site-footer {
    padding: 5px 0px;
  }
}
