---
layout: default
---

<div class="home">
  <div class="home__card">
    <img class="home__card__img" src="/assets/avatar.jpeg" />
    <div class="home__card__content">
      {{ content }}
    </div>
  </div>
  <div class="home__timeline">
<h1>Timeline</h1>
  <div class="home__timeline__year">
    <div class="home__timeline__year__title">
      April '20
    </div>
    <ul class="home__timeline__year__ul">
      <li>
        Released <a href="https://trepar.app">trepar</a>, the climber's guide and social network.
    </ul>
  </div>
    <div class="home__timeline__year">
      <div class="home__timeline__year__title">
        December '19
      </div>
      <ul class="home__timeline__year__ul">
        <li>
          Left <a href="https://getsling.com">Sling</a> in order to bootstrap my
          own project.
        </li>
      </ul>
    </div>

    <div class="home__timeline__year">
      <div class="home__timeline__year__title">
        June '18
      </div>
      <ul class="home__timeline__year__ul">
        <li>
          Built <a href="https://bttr.app?utm_source=ramon.wtf">bttr</a> as a side project with my
          friend <a href="https://miquelferrerllompart.com/">Miquel</a>.
        </li>
      </ul>
    </div>

      <div class="home__timeline__year">
        <div class="home__timeline__year__title">
          July '17
        </div>
        <ul class="home__timeline__year__ul">
          <li>
            Joined <a href="https://getsling.com">Sling</a> as a Backend
            Developer.
          </li>
        </ul>
      </div>
      <div class="home__timeline__year">
        <div class="home__timeline__year__title">
          July '16
        </div>
        <ul class="home__timeline__year__ul">
          <li>
            Joined <a href="https://www.hundredrooms.com/">hundredrooms</a> as a
            Backend Developer.
          </li>
        </ul>
      </div>
  </div>

      <!--
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | dhefault: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%} -->
    </div>
  </div>
</div>
