---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  <div class="home__card">
    <img class="home__card__img" src="/assets/avatar.jpeg" />
    <div class="home__card__content">
      {{ content }}
    </div>
  </div>
  <div class="home__timeline">
    <div class="home__timeline__year">2019</div>
    <ul>
      <li>
        Quit <a href="https://getsling.com">Sling</a> in order to bootstrap my
        own project.
      </li>
    </ul>

    <div class="home__timeline__year">2018</div>
    <ul>
      <li>
        Built <a href="https://bttr.app?utm_source=ramon.wtf">bttr</a> with my
        friend <a href="https://miquelferrerllompart.com/">Miquel</a>" as a side
        project.
      </li>
    </ul>

    <div class="home__timeline__year">2017</div>
    <ul>
      <li>
        Joined <a href="https://getsling.com">Sling</a> as a Backend Developer
      </li>
    </ul>

    <div class="home__timeline__year">2016</div>
    <ul>
      <li>
        Joined <a href="https://www.hundredrooms.com/">hundredrooms</a> as a Backend Developer
      </li>
    </ul>
  </div>

  <!--
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | dhefault: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%} -->
</div>
