---
layout: default
---

<article class="post">
  <div class="post-content">
    <div class="home__card">
      <img class="home__card__img" src="/assets/avatar.jpeg" />
      <div class="home__card__content">
        My name is Ramon Villalonga Gómez. I was born in Mallorca, Spain in 1993. I'm a Backend Developer and the maker of various products. I enjoy creating scalable and highly reliable systems. I try to follow the TDD principles. During my career I have gained in-depth experience with Python and PostgreSQL. I find the Agile methodologies necessary to get the best out of a team. I'm used to working with distributed teams worldwide.
      </div>
    </div>

  <h1 class="section">Experience</h1>
  <div class="project">
      <a href="http://getsling.com/">
          <h2 class="project__title">Sling</h2>
      </a>
      <span class="project__from_to">July 2017 - December 2019</span>
      <a class="project__logo" href="http://getsling.com/">
      <img src="/assets/logos/sling.svg">
      </a>
      <p class="project__description">
      Sling is a scheduling software. The team I was working was distributed in three continents. My responsibilities were various: creating new functionalities for the core product and optimizing them for a high number of RPM, releasing my own code and making sure it was working as expected. I created, released and maintained an analytics microservice successfully and also setup a CI platform to improve our build times. I also accomplished an upgrade of the database in a zero downtime fashion.
    </p>
  </div>

  <div class="project">
      <a href="https://www.hundredrooms.com/">
          <h2 class="project__title">Hundredrooms</h2>
      </a>
      <span class="project__from_to">July 2016 - July 2017</span>
      <a  class="project__logo" href="https://www.hundredrooms.com/">
      <img src="/assets/logos/hundredrooms.jpg">
      </a>
      <p class="project__description">
  Hundredrooms is a vacation rental comparator. I was programming and maintaining multiple microservices written in Python using AIOHTTP. Most of them used MySQL and Redis. The development environment was working in Docker. Took care of managing the internationalization of the site.
  </p>
  </div>
  <div class="project">
      <a href="http://geosys.com.mt/">
      <h2 class="project__title">GeoSYS</h2>
      </a>
      <span class="project__from_to">April 2016 - June 2016</span>
      <a  class="project__logo" href="http://geosys.com.mt/">
      <img  src="/assets/logos/geosys.png">
      </a>
      <p class="project__description">
        GeoSYS is a maps platform in Malta. During my Erasmus I did my intership at GeoSYS. I was mainly working with ArcGIS - Esri building maps using it's Javascript API.
      </p>
  </div>

  <h1 class="section">Projects</h1>

  <div class="project">
    <a href="https://trepar.app/">
      <h2 class="project__title">trepar</h2>
      </a>
      <span class="project__from_to">Released in 2020</span>
      <a class="project__logo" href="https://trepar.app/">
        <img src="/assets/logos/trepar.svg">
      </a>
      <p class="project__description">
        trepar the climber's guide and social network. I built this platform on my own to improve my skills in all the scopes of app development. From DevOps and Backend to compile the Ionic app and publish it in the PlayStore. trepar is built on top of FastAPI deployed in Docker. The mobile app - which is a PWA aswell - is built using Ionic in it's Angular flavour. This project improved a lot my frontend skills.
      </p>
  </div>

  <div class="project">
    <a href="https://www.bttr.app/">
      <h2 class="project__title">bttr</h2>
    </a>
    <span class="project__from_to">Released in 2018</span>
    <a class="project__logo" href="https://www.bttr.app/">
      <img  src="/assets/logos/bttr.png">
    </a>
    <p class="project__description">
  bttr is an agile retrospective tool. I co-founded it and took care of the whole backend using AIOHTTP and SQLAlchemy. On the operations side I used Docker and Ansible to release the API to an Ubuntu VM. I also did some frontend with Ionic.
  </p>
  </div>
</article>
